##################
# CAP
##################
bin
lib
bin*
lib*
build
build*
publishedData
CMakeFiles
src/Archive
src/Book2
src/Cluster
src/LambdaAnalysis
src/Misc
src/Music
src/StatStudies
src/*/cmake_install*
documentation
presentations
Makefile
*/Makefile
*/CMakeFiles
*/*/CMakeFiles
*.root
*.com
*.class
*.dll
*.exe
*.o
*.so
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
*.pdf
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
